.m-wrapper {
  padding: 50px 0;
}
.entry-title,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content p,
.entry-content dl {
  margin: 0;
}
.entry-content {
  line-height: 1.6em;
}
.entry-content h1, .entry-title{
  font-size: 42px;
  font-weight: 300;
  padding-bottom: 30px;
}
.entry-content h2 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 60px;
}
.entry-content h3 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 50px;
}
.entry-content h4 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 50px;
}
.u-article h5 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}
.entry-content p,
.entry-content pre,
.entry-content ul,
.entry-content table,
.entry-content img,
.entry-content ul,
.entry-content ol {
  margin-bottom: 30px;
}
.entry-content strong {
  font-weight: 600;
}
.entry-content pre {
  background: #fff;
  border: 1px solid #D4D4D4;
  word-wrap: normal;
  word-break: normal;
}
.entry-content pre code {
  background: #fff;
  word-break: normal;
  white-space: pre;
}
.entry-content img {
  display: block;
  max-width: 100% ;
  margin-left: auto;
  margin-right: auto;
}
.entry-content ul {
  list-style: disc;
  padding-left: 2em;
}
.entry-content ul li {
  margin-bottom: 20px;
}
.entry-content ol {
  list-style: decimal;
  padding-left: 2em;
}
.entry-content ol li {
  margin-bottom: 20px;
}
.entry-content table th,
.entry-content table td {
  padding: 8px 16px;
  border: 1px solid #D4D4D4;
}
.entry-content table img {
  max-width: none;
}
.entry-content a {
  color: #4372bf;
}
.entry-content a:focus,
.entry-content a:hover {
  color: #5e93e7;
}
.entry-content a:active {
  color: #4368a5;
}
/* Sidebar */
.u-sidebar {
  float: left;
  width: 20%;
}
.u-sidebar a {
  display: block;
}
.u-sidebar .category {
  font-size: 18px;
  font-weight: 600;
  margin: 25px 0;
  padding-top: 25px;
  border-top: 1px solid #e1e1e1;
}
.u-sidebar .category:first-of-type {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.u-sidebar > dl {
  margin-bottom: 20px;
}
.u-sidebar > dl > dt,
.u-sidebar > dl > dt > a {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 20px 0;
  color: #323232;
}
.u-sidebar > dl > dt.active,
.u-sidebar > dl > dt > a.active {
  font-weight: 600;
}
.u-sidebar > dl.active > dt,
.u-sidebar > dl.active > dt > a {
  font-weight: 600;
}
.u-sidebar > dl.active > dd {
  display: block;
}
.u-sidebar > dl > dd {
  /*display: none;*/
  margin-left: 20px;
}
.u-sidebar > dl > dd > a {
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  cursor: pointer;
  color: #323232;
}
.u-sidebar > dl > dd > a:before {
  position: absolute;
  left: -12px;
  top: 0;
  display: block;
  content: "•";
  color: #7d7d7d;
}
.u-sidebar > dl > dd > a:hover,
.u-sidebar > dl > dd > a:active {
  color: #365890;
}
/**
 * 上一页，下一页
 */
.post-navigation{padding: 40px 0 0;}
.nav-links .nav-previous{float: left;}
.nav-links .nav-next{float: right;}
.nav-links .meta-nav{color:#808080;}
/**
 * Comments
 */
.comments-area{clear:both;padding:20px 36px;border-top:1px solid #eaeaea;border-top:1px solid rgba(51,51,51,.1);}
.comments-area>:last-child{margin-bottom:0;}
.comment-list+.comment-respond{border-top:1px solid #eaeaea;border-top:1px solid rgba(51,51,51,.1);}
.comment-list+.comment-respond,.comment-navigation+.comment-respond{padding-top:1.6em;}
.comment-reply-title,.comments-title{text-transform:uppercase;font-weight:400;font-size:24px;}
.comments-title{margin-bottom:1.3333em;}
.comment-list{margin:0;list-style:none;}
.comment-list .pingback,.comment-list .trackback,.comment-list article{padding:1.6em 0;border-top:1px solid #eaeaea;border-top:1px solid rgba(51,51,51,.1);}
.comment-list .children{margin:0;list-style:none;}
.comment-list .children>li{padding-left:.8em;}
.comment-author{margin-bottom:.4em;color:#707070;color:rgba(51,51,51,.7);}
.comment-author a:hover{border-bottom:1px solid #707070;border-bottom:1px solid rgba(51,51,51,.7);}
.comment-author .avatar{float:left;margin-right:.8em;width:24px;height:24px;}
.bypostauthor>article .fn:after{position:relative;top:5px;left:3px;}
.comment-metadata,.pingback .edit-link{color:#707070;line-height:1.5;}
.comment-metadata a,.pingback .edit-link a{color:#707070;text-decoration: none;}
.comment-metadata a:hover,.pingback .edit-link a:hover{border-bottom:1px solid #333;}
.comment-metadata a:focus,.comment-metadata a:hover,.pingback .edit-link a:focus,.pingback .edit-link a:hover{color:#333;}
.comment-metadata{margin-bottom:1em;}
.comment-metadata .edit-link{margin-left:1em;}
.pingback .edit-link{margin-left:1em;}
.pingback .edit-link:before{top:5px;}
.comment-content ol,.comment-content ul{margin:0 0 1.6em 1.3333em;}
.comment-content li>ol,.comment-content li>ul{margin-bottom:0;}
.comment-content>:last-child{margin-bottom:0;}
.comment-list .reply a{display:inline-block;margin-top:1em;padding:4px 6px;color:#33c7f2;text-transform:uppercase;text-decoration: none;}
.comment-list .reply a:focus,.comment-list .reply a:hover{background: #33c7f2;color:#fff;}
.comment-form label{display:block;width:80px;color:#000;text-transform:uppercase;font-weight:400;font-size:14px;}
.comment-awaiting-moderation,.comment-notes,.form-allowed-tags,.logged-in-as{margin-bottom:24px;color:#707070;line-height:1.5;}
.comment-awaiting-moderation{font-weight:bold;color:#33c7f2;}
.no-comments{padding-top:1.6em;border-top:1px solid #eaeaea;border-top:1px solid rgba(51,51,51,.1);color:#707070;color:rgba(51,51,51,.7);font-weight:700;font-family:"Noto Sans",sans-serif;}
.comment-navigation+.no-comments{border-top:0;}
.form-allowed-tags code{font-family:Inconsolata,monospace;}
.form-submit{clear:both;margin-bottom:0;}
.required{color:#c0392b;}
.comment-reply-title small{font-size:100%;}
.comment-reply-title small a{float:right;overflow:hidden;font-size:14px;height:32px;border:0;}
.comment-reply-title small a:before{position:relative;top:-3px;font-size:32px;}
.comment-form input[type=submit]{padding:10px 16px;width:auto;border:none;background:#40c8f0;color:#fff;text-transform:uppercase;font-size:18px;}
.comment-form input[type=submit]:hover{background: #2eb1d9;}
.comment-form-author,.comment-form-comment,.comment-form-email,.comment-form-url{clear:both;overflow:hidden;margin-bottom:18px;}
.comment-form-url{display: none;}
.comment-form input[type=text],.comment-form input[type=email],.comment-form input[type=url],.comment-form textarea[name=comment]{padding:3px 0;width:360px;border:1px solid #e5e5e5;background:#fff;}
.comment-form textarea[name=comment]{width:90%;}
.comment-navigation .nav-next a, .comment-navigation .nav-previous a{display: inline-block;padding: 2px 8px;background: #40c8f0;color:#fff;text-decoration: none;}
.comment-navigation .nav-next a:hover, .comment-navigation .nav-previous a:hover{background: #2eb1d9;}
@media (min-width: 768px) {
  .comment-form label{float:left;padding-right:10px;text-align:right;}
  .comment-form input[type=submit]{margin-left:80px;}
}